*{
    margin: 0;
    padding: 0;
    height: auto;
}
body{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
}
section{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    text-align: center;
    width: 450px;
    height: 600px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    padding-top: 10%;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.login-card,
.signup-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #5c4033c7;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 10px rgba(255, 255, 255, 0.795);
}  
.signup-card {
    transform: rotateY(180deg);
}  
.card h2 {
    color: white;
    font-weight: normal;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}  
.input-box {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.452);
    margin: 6px 0;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}

::placeholder {
    color: #fff;
    font-size: 15px;
}
button {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.452);
    margin: 35px 0 10px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;  
}
button:hover{
    background-color: #967969;
    border: none;
}
.submit-btn {
    position: relative;
}
span {
    color: #967969;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}  
.card .btn {
    margin-top: 70px;
}
.card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
}
.card a:hover{
    color: rgba(255, 255, 255, 0.486);
}
.go-back{
    display: flex;
    flex-direction: row;
}
.go-back:hover{
    display: flex;
    flex-direction: row;
}
.go-back a{
    color: white;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
}
.go-back a:hover{
    color: rgba(255, 255, 255, 0.5);
}
